:landing-blog {
  --hover-background: #e46f15;
  --allow-color: #e46f15;
  --disabled-color: #dddddd;
  --active-color: #e46f15;
  --page-button-color: #6a6a6a;
}

@media (prefers-color-scheme: dark) {
  :landing-blog {
    --disabled-color: #1d1d1d;
  }
}

.main {
  padding: 100px;
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  gap: 12px;
}
.title {
  color: var(--primary-green);
}
.container {
  display: flex;
  flex-direction: column;
}
.categories {
  display: flex;
  padding: 25px 0;
  gap: 20px;
}
.category {
  cursor: pointer;
}
.activeCategory {
  color: #e46f15;
  font-weight: bold;
}
.items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.item {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-wrap: normal;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  gap: 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  border: 1px solid var(--border-color);
}
.item:hover {
  background-color: var(--hover-background);
}
.item p {
  padding-top: 20px;
}
.pagination {
  display: flex;
  justify-content: center;
}
.arrowButton {
  margin: 12px 12px;
  color: var(--arrow-color);
  cursor: pointer;
}
.arrowButton:hover {
  color: var(--hover-background);
}
.disabled {
  color: var(--disabled-color);
}
.disabled:hover {
  color: var(--disabled-color);
  cursor: default;
}
.activePage {
  margin: 12px 8px;
  font-weight: bold;
  color: var(--active-color);
  cursor: pointer;
}
.pageButton {
  margin: 12px 8px;
  color: var(--page-button-color);
  cursor: pointer;
}
