.main {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 80%;
  /* max-width: 1500px; */
}
.title {
  color: var(--primary-green);
}
.container {
  display: flex;
  flex-direction: column;
}
.categories {
  display: flex;
  padding: 25px 0;
  gap: 20px;
}
.category {
  cursor: pointer;
}
.activeCategory {
  color: #e46f15;
  font-weight: bold;
}
.items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-wrap: normal;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  gap: 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  border: 1px solid var(--border-color);
}
.item:hover {
  background-color: var(--hover-background);
}
.item p {
  padding-top: 20px;
}
.date {
  font-size: 0.8rem;
  color: var(--text-color);
}
.pagination {
  display: flex;
  justify-content: center;
}
.arrowButton {
  margin: 12px 12px;
  color: var(--arrow-color);
  cursor: pointer;
}
.arrowButton:hover {
  color: var(--hover-background);
}
.disabled {
  color: var(--disabled-color);
}
.disabled:hover {
  color: var(--disabled-color);
  cursor: default;
}
.activePage {
  margin: 12px 8px;
  font-weight: bold;
  color: var(--active-color);
  cursor: pointer;
}
.pageButton {
  margin: 12px 8px;
  color: var(--page-button-color);
  cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .main {
    padding: 80px 0;
    max-width: 100%;
  }
  .items {
    gap: 15px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding: 60px 0;
  }
  .items {
    padding: 15px 0;
    gap: 10px;
  }
}

@media screen and (max-width: 480px) {
  .main {
    padding: 40px 0;
  }
  .title {
    font-size: 1.5rem;
  }
  .items {
    padding: 10px 0;
  }
  .categories {
    gap: 15px;
    font-size: 14px;
  }
}
