.main {
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.container {
  display: flex;
}
.categories {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  gap: 20px;
}
.items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.item {
  border: 1px solid #fff;
  padding: 12px;
}
.item p {
  padding-top: 20px;
}
