.main {
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container {
  display: flex;
}
.categories {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  gap: 20px;
}
.items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
