.page {
  height: 100vh;
  background-color: var(--background);
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(159, 77, 77);
  padding: 32px 0;
  gap: 24px;
}
.profileImg {
}
.image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.description {
  margin-left: 20px;
}
