.page {
  height: 100vh;
  background-color: var(--background);
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(189, 208, 188);
  padding: 32px 0;
  gap: 75px;
}
.profileImage {
  border-radius: 50%;
  border: 3px solid var(--primary-green);
}
.headerTitle {
  font-size: 62px;
  color: var(--primary-green);
  margin-bottom: 32px;
  border-bottom: 1px solid var(--primary-green);
}
.description {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 32px;
  width: 100%;
  max-width: 800px; /* 필요에 따라 조정 */
}
